<div class="row mb-3">
  <div class="last-line"></div>
</div>
<div class="container d-flex justify-content-between">
  <div class="about font-weight-bold">Стрюков Владислав</div>
  <div>
    <img class="last-logo img-fluid" src="https://psv4.userapi.com/c909618/u292881023/docs/d24/7c3495c51d3c/VK_Compact_Logo_2021-present_svg.png?extra=aLPbbi92yUtrG1bXtdOCmVr3sUN-7TNNqHYk44XmP9H5NhT2V751WCMcMrUqdVD8pCsh1QdRdK0b_BCsvkysZwfYghXpGAqmgnNIVYZ9UxnrzJJl6l8t1SAQQ-I9wygDKnBnsorgFKLpcfAQ5i2N1qn8.png" alt="">
    <img class="last-logo img-fluid" src="https://sun9-25.userapi.com/impg/67sre6JHaUvPT3MBBCu-3NPKQCo6py95yD4qaA/tSc7C3DvdjE.jpg?size=599x447&quality=96&sign=3fa8bf61a329fd16c9f04c2547c72682&type=album.png" alt="">
  </div>
</div>